@font-face {
  font-family: "Montserrat-Thin";
  src: url(/fonts/Montserrat-Thin.ttf?0052573bbf05658a18ba557303123533) format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(/fonts/Montserrat-Regular.ttf?9c46095118380d38f12e67c916b427f9) format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(/fonts/Montserrat-Medium.ttf?a98626e1aef6ceba5dfc1ee7112e235a) format("truetype");
}

@font-face {
  font-family: "Montserrat-Semi-Bold";
  src: url(/fonts/Montserrat-SemiBold.ttf?c88cecbffad6d8e731fd95de49561ebd) format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(/fonts/Montserrat-Bold.ttf?88932dadc42e1bba93b21a76de60ef7a) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat-Regular";
}

* {
  box-sizing: padding-box;
  outline: none;
}

.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.auth__container {
  width: 55%;
  min-width: 325px;
  background: #f5f5f5;
}

.auth__image {
  width: 45%;
  background: url("/img/login.png") center no-repeat;
  background-size: cover;
}

.content {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(calc(-50% - 5em));
          transform: perspective(1px) translateY(calc(-50% - 5em));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__logo {
  max-width: 65%;
  margin-bottom: 3em;
}

.form {
  width: 45%;
  min-width: 300px;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item--row {
  padding-top: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-item {
  margin: 0.5em 0;
}

.form-item:first-of-type {
  margin-top: 0;
}

.form-item__label {
  font-size: 1.5em;
  font-family: "Montserrat-Semi-Bold";
  color: #38B974;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}

.form-item__label--checkbox {
  line-height: 30px;
  font-size: 1em;
  margin-left: 0.25em;
  padding-left: calc(.5em + 25px);
}

.form-item__input {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.15em;
  border: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 4px solid #C9C9C9;
  padding: 0.5em 0.5em 0.5em 0.75em;
  transition-duration: 0.2s;
  background-color: rgba(216, 216, 216, 0.5);
  background-position: left;
  background-position-x: 0.5em;
  background-repeat: no-repeat;
  background-size: 1.5em;
}

.form-item__input > input {
  border: none;
  width: 100%;
  background: none;
  color: #9B9B9B !important;
  font-size: inherit;
  padding-left: 0.75em;
  font-family: "Montserrat-Regular";
}

.form-item__input > input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25) !important;
}

.form-item__input > input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25) !important;
}

.form-item__input > input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25) !important;
}

.form-item__input > input::placeholder {
  color: rgba(0, 0, 0, 0.25) !important;
}

.form-item__input--active {
  background-color: rgba(216, 216, 216, 0.35);
}

.form-item__input--active .form-item__border:before {
  width: 100%;
}

.form-item__input--active .form-item__icon > svg {
  color: #38B974;
}

.form-item__border {
  position: absolute;
  top: 100%;
  left: 0;
  height: 4px;
  width: 100%;
}

.form-item__border:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #38B974;
  transition: width 0.2s linear;
}

.form-item__icon {
  display: flex;
  vertical-align: center;
}

.form-item__icon > svg {
  height: 1.5em;
  color: rgba(0, 0, 0, 0.25);
  transition-duration: 0.2s;
}

.form-item__button {
  font-size: 1.15em;
  background-color: #38B974;
  border: 2px solid #38B974;
  border-radius: 22px;
  padding: 0.4em 2em;
  color: white;
  transition-duration: 0.2s;
  font-family: "Montserrat-Semi-Bold";
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}

.form-item__button:hover {
  background-color: transparent;
  color: #38B974;
  transition-duration: 0.2s;
}

.form-item__error {
  width: 90%;
  background: #FE4336;
  color: white;
  padding: 0.75em 1em;
  border-radius: 10px;
  justify-self: center;
  margin: 0.5em auto;
  text-align: center;
}

.form-item-checkbox {
  position: relative;
  cursor: pointer;
}

.form-item-checkbox > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-item-checkbox:hover input ~ .form-item-checkbox__mask {
  background-color: #38B974;
  transition-duration: 0.2s;
}

.form-item-checkbox:hover input ~ .form-item-checkbox__mask:after {
  border-color: white;
  transition-duration: 0.2s;
}

.form-item-checkbox input:checked ~ .form-item-checkbox__mask:after {
  display: block;
}

.form-item-checkbox .form-item-checkbox__mask:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #9B9B9B;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-duration: 0.2s;
}

.form-item-checkbox__mask {
  position: absolute;
  top: 0.5em;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #D8D8D8;
  transition-duration: 0.2s;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
}

.form-item-checkbox__mask:after {
  content: "";
  position: absolute;
  display: none;
}

@media (max-width: 30em) {
  .auth__container {
    width: 100%;
  }

  .auth__image {
    display: none;
  }

  .content__logo {
    max-width: 90%;
  }

  .form__item--row {
    flex-direction: column;
  }

  .form-item__button {
    width: 100%;
    margin-top: 1em;
  }
}

