@import 'variables';

.alert {
  position: fixed;
  left: 300px;
  top: 0;
  right: 50px;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  animation: slideIn 1s;

  &__text {
    color: white;
    font-size: 1.15em;
    font-family: $font-medium;
  }

  &__button {
    border: none;
    background: transparent;
    color: white;
    font-size: 1.25rem;
    transition-duration: .2s;

    &:hover {
      border-color: rgba(255, 255, 255,  .5);
      color: rgba(255, 255, 255,  .5);
      cursor: pointer;
      transition-duration: .2s;
    }
  }

  &--hidden {
    animation: slideOut 1s;
    top: -100px;
  }

  &--success {
    background: $green;
  }

  &--danger {
    background: $red;
  }
}

@keyframes slideIn {
  from { top: -100px }
  to { top: 0 }
}
@keyframes slideOut {
  from { top: 0 }
  to { top: -100px }
}