@import 'variables';

.block {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__button {
    margin: 0 auto;
    font-size: 1.25em;
    margin-top: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    width: 40%;
    text-align: center;
  }
}

.block-list {
  margin: 1.5em 0;
  padding: 0 1em;
  border-left: 0.25em solid $form-divider-color;

  &__item {
    width: 100%;
  }
}

.block-item {
  color: #848484;
  border-radius: 5px;
  margin: 0.25em 0;
  font-size: 1rem;

  &__head {
    font-weight: bold;
    font-size: 1.15em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    flex-direction: row;
    background: $input-background-color;

    &:hover {
      background: #f2f2f2;
      transition-duration: 0.2s;
      cursor: pointer;
    }
    &--title {
      margin-left: 1em;
    }
    &--active {
      background: #e8e8e8;
      border-color: #e8e8e8;
    }
    &--delete {
      border: 1px solid #fe4336;
      color: white;
      background: #fe4336;
      padding: 0.25rem;
      font-size: 0.8em;
      border-radius: 5px;
      transition-duration: 0.2s;

      &:hover {
        text-decoration: none;
        color: #fe4336;
        background: white;
        transition-duration: 0.2s;
        cursor: pointer;
      }
    }
  }
  &__body {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      padding: .5em .75em;
      padding-bottom: 1.5em;
      background: $input-background-color;

      & ~.block-item__head {
        border-radius: 10px 10px 0 0;
      }
    }
  }
}

.blocks-body {
  padding: 1.25em 1em;
  font-size: 1rem;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;

    &--image {
      width: 50%;
    }
  }

  & label {
    margin: 0;
    height: 100%;
  }
}

.blocks-body-item {

  & > .mce-tinymce {
    margin: 2rem 0;
    max-width: 90% !important;
  }
  &__label {
    width: 15%;
    text-transform: capitalize;
  }
  &__input {
    width: 85%;
  }
  &__image {
    width: 35%;
  }
}

.block-add {
  float: right;
  position: relative;

  &__button {
    font-size: 1em;
    float: right;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    color: white;
    background: $green;
    border: 1px solid $green;
    transition-duration: 0.2s;

    &:hover {
      background: white;
      border-color: $green;
      color: $green;
      cursor: pointer;
      transition-duration: 0.2s;
    }
  }

  &__container {
    display: none;
    position: absolute;
    padding: 0.5em;
    background: white;
    box-shadow: 5px 10px 18px #888888;
    top: 100%;
    right: 0;
    border-radius: 5px;

    &--active {
      display: flex;
    }
  }
}

.block-add-container {
  flex-direction: row;
  flex-wrap: wrap;

  &__button {
    color: #848484;
    width: calc(50% - 0.5em);
    margin: 0.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
    font-size: 1rem;
    transition-duration: 0.2s;

    & > * {
      margin: 0 .25em;
    }

    &:hover {
      color: black;
      cursor: pointer;
      transition-duration: 0.2s;
    }
  }
}