@import 'variables';

.form {
  width: 100%;

  &__row {
    width: 100%;

    &--error {

      & .form-item .form-item__value {
        border-color: $red;
      }
    }
  }

  &__divider {
    width: 80%;
    height: 1px;
    border: none;
    background: $form-divider-color;
  }

  &__buttons {
    text-align: right;
    width: 90%;
  }

  &__errors {
    background: $input-background-color;
    padding: .75em 1em;
  }
}

.form-row {

  &__item {
    display: flex;
    align-items: center;
    padding: 1.25em 0;

    &--multiple {
      justify-content: space-evenly;
    }

    &--label {
      width: 20%;
      font-family: $font-semi-bold;
      color: $main-text-color;
      font-size: 1.15rem;
    }
    &--input {
      width: 75%;
      padding: 1% 5% 2% 5%;
    }
  }
}

.form-item {
  display: flex;
  flex-direction: row;
  font-size: .9rem;

  &__value {
    background: $input-background-color;
    padding: .5em .75em;
    color: $input-text-color;
    border: none;
    outline: none;
    border-bottom: 2px solid $input-border-color;
    width: 100%;
    font-family: $font-medium;
    border-radius: 5px 5px 0 0;

    &::placeholder {
      font-family: $font-medium;
      color: $input-placeholder-color;
    }

    &--disabled {
      text-decoration: line-through;
      &:hover {
        cursor: not-allowed !important;
      }
    }
  }

  &__select {
    width: 60%;
    padding: .5em .75em;
  }

  &__image {
    max-width: 350px;
    max-height: 350px;
  }

  &__label {
    font-size: 1.25rem;
    padding-left: 1.5rem;
  }
}

.form-select {
  z-index: 50;
  position: relative;
  width: 60%;

  &__current {
    background: $input-background-color;
    padding: .5em .75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__group {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;

    &--active {
      display: unset;
    }
  }
}

.form-select-group {

  &__item {
    padding: .5em .75em;
    background: white;
    border: 1px solid $input-border-color;
    border-top: none;
    background: $input-background-color;
    color: $input-text-color;
    font-family: $font-medium;
    transition-duration: .2s;

    &:hover {
      background: $input-background-color-active;
      cursor: pointer;
      transition-duration: .2s;
    }

    &:first-of-type {
      border-top: 1px solid $input-border-color;
    }
  }
}

.form-item-checkbox {
  position: relative;
  cursor: pointer;

  & > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover input ~ &__mask {
    background-color: $green;
    transition-duration: .2s;

    &:after {
      border-color: white;
      transition-duration: .2s;
    }
  }

  & input:checked ~ &__mask:after {
    display: block;
  }

  & &__mask:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-duration: .2s;
  }

  &__mask {
    position: absolute;
    top: -10px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $input-background-color-active;
    transition-duration: .2s;
    border-radius: 5px;
    box-shadow: $box-shadow;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}

.form-errors {
  color: $main-text-color;
  border: 2px solid $red;
  width: 75%;

  &__title {
    font-family: $font-semi-bold;
  }
  &__item {
    margin: .25em 0;
  }
}

.form-subject {


  &__title {
    width: 100%;
    font-size: 2rem;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: .5em;
    margin-bottom: 1.25em;
  }
}

@media (max-width: $break-point-mobile) {
  .form-row__item {

    &--label, &--input {
      width: 100%;
    }
  }

  .form__buttons {
    width: 100%;
    display: inline-flex;
  }
}