@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: padding-box;
  background: $main-background-color;
}

.base {
  padding-left: 300px;
  padding-top: 5em;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {

  }

  &__button {
    display: inline-block;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding: .5em .75em;
    border-radius: 5px;
    border: 2px solid transparent;
    margin: 0 .25em;
    box-shadow: $box-shadow;
    transition-duration: .2s;

    &:hover {
      background: transparent;
      text-decoration: none;
      cursor: pointer;
      transition-duration: .2s;
    }

    &--success {
      background-color: $navigation-background-color;
      border-color: $navigation-background-color;
      &:hover {
        color: $navigation-background-color;
      }
    }

    &--edit {
      background-color: $orange;
      border-color: $orange;

      &:hover {
        color: $orange;
      }
    }

    &--danger {
      background-color: $red;
      border-color: $red;

      &:hover {
        color: $red;
      }
    }

    &--dark {
      background-color: $dark-green;
      border-color: $dark-green;

      &:hover {
        color: $dark-green;
      }
    }
  }

  &__buttons {
    padding-right: 3em;
  }

  &__title {
    font-family: $font-bold;
    padding-bottom: .25em;
    border-bottom: 3px solid $navigation-background-color;
    color: $main-text-color;
  }
}

@media (max-width: $break-point-tablet) {
  .base {
    padding: 5em .25em .25em .25em;

    &__header {
      display: block;
      text-align: center;
    }
    &__button {
      width: 50%;
      font-size: .8rem;
    }
    &__buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
  }
}