@import 'variables';

.list {
  margin: .75em;
  background: $list-background-color;
  width: calc(100% - 5em);

  &__head {
    color: white;
    background: $navigation-background-color;
    font-family: $font-thin;
  }

  &__row {
    font-family: $font-regular;
  }

  &__filters {
    position: relative;
  }
}

.list-head {
  box-shadow: $box-shadow;

  &__title {
    padding: .75em .75em;
  }
  &__button {
    float: right;
    margin: .25rem .5rem;
    padding: .25rem .5rem;
  }
}

.list-row {
  border-bottom: 1px solid rgba(151, 151, 151, .25);

  &:last-of-type {
    border: none;
  }

  &__item {
    padding: .75em .75em;
    color: $main-text-color;
  }

  &__group {
    float: right;
  }
}

.list-filters {
  position: relative;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: $green;
    color: white;
    display: none;

    &--active {
      display: inherit;
    }
  }
}

.filters {
  &__item {

  }
}

.filters-item {
  display: flex;
  flex-direction: row;
  width: 100%;

  &__label {
    width: 25%;
  }

  &__value {
    width: 65%;
  }
}

@media (max-width: $break-point-mobile) {
  .list {
    margin-top: 2em;
    width: calc(100% - 1.5rem);

    &__button {
      float: right;
      margin: .25rem .5rem;
      padding: .25rem .5rem;
    }
  }
  .list-head {

    &__title {
      display: none;

      &--mobile {
        display: block;
      }
    }
  }
  .list-row {


    &__item {
      display: none;
      width: calc(50% - 1.5em);

      &--mobile {
        display: table-cell;
      }
      &--buttons {
        float: right;
      }
    }
    &__group {
      display: inline-flex;
    }
  }
}