@import 'variables';

.navigation {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  &__main {
    width: 250px;
    height: 100vh;
    background-color: $navigation-background-color;
    color: white;
    font-family: $font-regular;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
  }

  &__mobile {
    display: none;
  }

  &__group {
    max-height: calc(100vh - 2.5em);
  }

  &__item {

    &--active {
      font-family: $font-semi-bold;
    }
    &--first {
      border-bottom: 2px solid white;
      text-align: center;
    }
  }

  &__divider {
    width: 40%;
    padding: 0;
    margin: 0 0 0 10%;
    background: white;
  }

  &__dropdown {
    display: none;

    &--active {
      display: block;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition-duration: .2s;

    &:hover {
      cursor: pointer;
      color: #82EDB4;
      transition-duration: .2s;
    }
    &--no-hover {
      &:hover {
        cursor: default;
        color: inherit;
      }
    }
  }

  &__bottom {

  }
}

.navigation-item {
  padding: 1em 2em;
}

.navigation-dropdown {
  margin-top: .5em;


  &__item {
    padding: .5em 1em;
    font-size: .9em;
    transition-duration: .2s;

    &:hover {
      cursor: pointer;
      color: $navigation-hover-color;
      transition-duration: .2s;
    }
  }
}

.navigation-link {

  &__icon {
    width: 20%;
    text-align: center;
  }
  &__counter {
    width: 20%;
    background: $secondary-background-color;
    padding: .25em .4em;
    font-size: .75em;
    border-radius: 25%;
    text-align: center;
    font-family: $font-semi-bold;
  }
  &__text {
    width: 80%;

    &--full {
      width: 100%;
    }
  }
}

.navigation-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__item {
    font-size: 1.5em;
  }
  &__link {
    color: white;
    transition-duration: .2s;

    &:hover {
      cursor: pointer;
      color: $navigation-hover-color;
      transition-duration: .2s;
    }
  }
}

@media (max-width: $break-point-tablet) {
  .navigation {
    width: 100%;

    &__main {
      display: none;
      width: 100%;
      top: 4rem;

      &--active {
        display: block;
      }
    }

    &__mobile {
      display: flex;
    }
  }

  .navigation-mobile {
    height: 4rem;
    width: 100%;
    padding: .5rem;
    background: $navigation-background-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__button {
      color: white;
      background: transparent;
      border: 2px solid white;
      border-radius: 10px;
      padding: .65em;

      & > svg {
        height: 100%;
      }
    }

    &__logo {
      max-height: 100%;
    }
  }
}