@import 'fonts';
@import 'colors';

$main-background-color: #E8E8E8;
$secondary-background-color: #108635;

$list-background-color: #f9f9f9;

$main-text-color: #424242;

$navigation-background-color: $green;
$navigation-divider-color: rgba(216, 216, 216, .75);
$navigation-hover-color: $light-green;

$font-thin: 'Montserrat-Thin';
$font-regular: 'Montserrat-Regular';
$font-medium: 'Montserrat-Medium';
$font-semi-bold: 'Montserrat-Semi-Bold';
$font-bold: 'Montserrat-Bold';

$break-point-mobile: 30em;
$break-point-tablet: 48em;
$break-point-table-vertical: 55em;

$box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);

$input-background-color: #f9f9f9;
$input-background-color-active: #c7c7c7;
$input-border-color: #C6C6C6;
$input-border-active-color: #38B974;
$input-placeholder-color: rgba(0, 0, 0, .25);
$input-text-color: rgb(134, 134, 134);

$form-divider-color: rgba(200, 200, 200, .75);