@import 'variables';

.blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__add {

  }

  &__list {

  }
}

.blocks-head {
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blocks-add {
  float: right;
  position: relative;

  &__button {
    font-size: 0.65em;
    float: right;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    color: white;
    background: $main-light-color;
    border: 1px solid $main-light-color;
    transition-duration: 0.2s;

    &:hover {
      background: white;
      border-color: $main-light-color;
      color: $main-light-color;
      cursor: pointer;
      transition-duration: 0.2s;
    }
  }

  &__container {
    display: none;
    position: absolute;
    padding: 0.5em;
    background: white;
    box-shadow: 5px 10px 18px #888888;
    top: 100%;
    right: 0;
    border-radius: 5px;

    &--active {
      display: flex;
    }
  }
}

.blocks-add-container {
  flex-direction: row;
  flex-wrap: wrap;
  width: 8em;

  &__button {
    color: #848484;
    width: calc(50% - 0.5em);
    margin: 0.25em;
    display: flex;
    flex-direction: column;
    border: none;
    background: none;
    font-size: 0.75em;
    transition-duration: 0.2s;

    &:hover {
      color: black;
      cursor: pointer;
      transition-duration: 0.2s;
    }
  }
}

.blocks-list {
  margin: 1em 0;
  padding: 0.5em 1em;
  border-left: 0.25em solid #e8e8e8;

  &__item {
    width: 100%;
  }
}

.blocks-item {
  color: #848484;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin: 0.25em 0;

  &__header {
    padding: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid white;

    &:hover {
      background: #e8e8e8;
      transition-duration: 0.2s;
      cursor: pointer;
    }
    &--title {
      margin-left: 1em;
    }
    &--active {
      background: #e8e8e8;
      border-color: #e8e8e8;
    }
    &--delete {
      border: 1px solid #fe4336;
      color: white;
      background: #fe4336;
      padding: 0.25rem;
      font-size: 0.8em;
      border-radius: 5px;
      transition-duration: 0.2s;

      &:hover {
        text-decoration: none;
        color: #fe4336;
        background: white;
        transition-duration: 0.2s;
        cursor: pointer;
      }
    }
  }
  &__form {
    display: none;

    &--active {
      display: block;
    }
  }
}

.blocks-form {
  padding: 1.25em 1em;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;

    &--image {
      width: 50%;
    }
  }

  & label {
    margin: 0;
    height: 100%;
  }
}

.blocks-form-item {

  & > .mce-tinymce {
    margin: 2rem 0;
  }
  &__label {
    width: 15%;
  }
  &__input {
    width: 85%;
  }
  &__image {
    width: 35%;
  }
}

@include respond-to('small') {
  .blocks-form {
    padding: 0.5em;

    &__item {
      display: block;
      margin-bottom: 0.75em;
    }
  }
  .blocks-form-item {
    &__label, &__input, &__image {
      width: 100%;
    }
  }
}