@import 'variables';

.base {
  width: calc(80% + 7rem);
  margin-left: 10%;
  margin-top: 5%;
  background: white;
  padding: 2rem;
  border-radius: 1em;

  &__title {
    font-size: 1.5rem;
    padding: 2rem;
    font-weight: bold;
  }

  &__button {
    color: white;
    padding: 0.25rem 0.5rem;
    transition-duration: 0.2s;
    margin-right: 5%;
    border-radius: 5px;
    font-size: 1rem;
    vertical-align: center;
    float: right;

    &--success {
      background: $main-light-color;
      border: 1px solid $main-light-color;

      &:hover {
        transition-duration: 0.2s;
        background: white;
        color: $main-light-color;
        text-decoration: none;
      }
    }

    &--edit {
      background: $orange;
      border: 1px solid $orange;

      &:hover {
        transition-duration: 0.2s;
        background: white;
        color: $orange;
        text-decoration: none;
      }
    }
  }
}

@include respond-to('small') {
  .base {
    width: calc(95% - 0.5rem);
    padding: 0.5em;
    margin: 0 auto;
    margin-top: 3.5em;
    padding-top: 1rem;
  }
}

.form {
  background: white;
  display: block;
  padding: 2em 2.2em;
  border-radius: 5px;

  &__row {
    &--error {
      & > .form-row__item--input > .form-item__value{
        border-color: $red;
      }
    }
  }
  &__subject {

  }
  &__errors {
    width: 90%;
    margin-left: 5%;
    background: $red;
    padding: 1.5rem;
    border-radius: 5px;
  }
  &__button {
    margin: 3em 0.5em 0 0.5em;
    width: 7.5em;
    padding: 0.5em;
    color: white;
    border: 1px solid;
    border-radius: 0.3em;
    transition-duration: 0.2s;

    &:hover {
      background: white;
      transition-duration: 0.2s;
      cursor: pointer;
    }

    &--success {
      background: $main-light-color;
      border-color: $main-light-color;

      &:hover {
        color: $main-light-color;
      }
    }

    &--edit {
      background: $orange;
      border-color: $orange;

      &:hover {
        color: $orange;
      }
    }

    &--danger {
      background: $red;
      border-color: $red;

      &:hover {
        color: $red;
      }
    }
  }
}

.form-errors {


  &__title {
    font-size: 1.1em;
    font-weight: bold;
  }
  &__row {

  }
  &__item {
    font-size: 0.9em;
    margin-left: 1em;

    &::before {
      content: '-';
    }
  }
}

.form-row {
  display: flex;
  padding: 0.5em 0;

  &__item {
    display: flex;

    &--label {
      width: 20%;
    }
    &--input {
      width: 80%;
      padding: 1% 5% 2% 5%;
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.form-item {

  &__label {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.1rem 0.25rem;
    line-height: 2rem;
    height: 2.5rem;
  }
  &__value {
    border: none;
    border-bottom: 2px solid #c6c6c6;
    border-radius: 5px 5px 0 0;
    width: 100%;
    line-height: 2rem;
    padding: 0.2rem 0.5rem 0 0.5rem;
  }
  &__select {
    margin-left: 5%;
  }
  &__image {
    max-height: 10rem;
    max-width: 70%;
    display: inline-block;
    border-radius: 5px;
  }
}

.form-subject {


  &__title {
    width: 100%;
    font-size: 2rem;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: .5em;
    margin-bottom: 1.25em;
  }
}

@media (max-width: $break-point-mobile) {
  .form {


    &__button {
      width: 80%;
      margin-top: 1em;
      margin-left: 10%;
    }
  }
  .form-row {
    display: block;

    &__item {

      &--label {
        width: 100%;
      }
      &--input {
        width: 100%;
      }
    }
  }
  .form-item {
    &__label {
      padding: 0.1rem 0.25rem;
      line-height: 1rem;
      height: 1rem;
    }
    &__value {
      margin-left: 0;
      width: 100%;
      line-height: 1rem;
      height: 2rem;
      margin-bottom: 1rem;
    }
    &__image {
      max-width: 100%;
      display: block;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
    }
  }
}