@import 'variables';

.list {
  margin: 1rem 3rem;
  width: calc(100% - 6rem);
  max-width: 90vw;

  &__head {
    background: $main-hover-color;
    color: white;
    font-family: $font-semi-bold;
  }
  &__row {
    font-family: $font-regular;
  }
}

.list-head {
  font-weight: bold;

  &__title {
    padding: 0.5rem 0.25rem;
  }
}

.list-row {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  transition-duration: 0.15s;

  &:hover {
    background: #e8e8e8;
    transition-duration: 0.15s;
  }

  &__group {
    float: right;
    margin-right: 1.5em;
  }

  &__item {
    padding: 0.5rem 0.25rem;

    &--mobile-only {
      display: none;
    }

    &--show {
      border: 1px solid $orange;
      color: white;
      background: $orange;
      padding: 0.5rem;
      border-radius: 5px;
      transition-duration: 0.2s;
      text-align: center;

      &:hover {
        text-decoration: none;
        color: $orange;
        background: white;
        transition-duration: 0.2s;
        cursor: pointer;
      }
    }

    &--edit {
      border: 1px solid $main-light-color;
      color: white;
      background: $main-light-color;
      padding: 0.5rem;
      border-radius: 5px;
      transition-duration: 0.2s;
      text-align: center;

      &:hover {
        text-decoration: none;
        color: $main-light-color;
        background: white;
        transition-duration: 0.2s;
        cursor: pointer;
      }
    }

    &--delete {
      border: 1px solid #fe4336;
      color: white;
      background: #fe4336;
      padding: 0.5rem;
      border-radius: 5px;
      transition-duration: 0.2s;
      text-align: center;

      &:hover {
        text-decoration: none;
        color: #fe4336;
        background: white;
        transition-duration: 0.2s;
        cursor: pointer;
      }
    }
  }
}

.list-mobile-menu {

  &__toggle {
    padding: 0.25em 1em;
  }
  &__container {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    width: 1px;
    transition: all .5s ease;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #e8e8e8;
    border-left: 0.3em solid grey;
    padding: 0 0.5em;

    &--active {
      width: 10em;
      right: 0;
      opacity: 1;
    }
  }
}

@include respond-to('small') {
  .list {
    margin: 0.25rem;
    width: calc(100% - 0.5rem);
  }
  .list-head {
    &__title {
      display: none;

      &--mobile {
        display: table-cell;
      }
    }
  }
  .list-row {
    position: relative;
    &__item {
      display: none;

      &--mobile, &--mobile-only {
        display: table-cell;
        overflow: hidden;
      }
    }
  }
}

@-webkit-keyframes slide-in {
  100% { left: 0; }
}

@keyframes slide-in {
  100% { left: 0; }
}

@-webkit-keyframes slide-out {
  100% { left: 100%; }
}
@keyframes slide-out {
  100% { left: 100%; }
}