@import 'variables';

.cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 25;

  &--active {
    display: block;
  }
}
.popup {
  z-index: 26;
  padding: 3em;
  background: white;
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;

  &__title {
    width: 100%;
    text-align: center;
    padding: 1em 1em;
  }
  &__buttons {
    width: 100%;
  }
}

.popup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
    width: 35%;
    transition-duration: 0.2s;

    &:hover {
      cursor: pointer;
      transition-duration: 0.2s;
      background: white;
    }

    &--success {
      background: $main-light-color;
      border-color: $main-light-color;

      &:hover {
        color: $main-light-color;
      }
    }

    &--danger {
      background: $red;
      border-color: $red;

      &:hover {
        color: $red;
      }
    }
  }
}

.popup-button {

}

@media (max-width: $break-point-mobile) {
  .popup {
    width: 90%;
    margin-left: 5%;
  }
}