@import 'variables';

#desktop {
  .sidenav {
    font-family: $font-semi-bold;
    position: fixed;
    overflow: visible;
    left: 0;
    top: 0;
    width: 7rem;
    height: 100vh;
    background: $main-dark-color;
    transition: ease-in 0.3s;
    box-shadow: 0 0 0.5rem;
    display: flex;
    flex-direction: column;

    &:hover {
      width: 15rem;
      transition: ease-in 0.3s;

      .sidenav-link{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 20rem;

        &__icon {
          width: 25%;
          font-size: 1.15rem;
        }
        &__text {
          width: 75%;
          display: inline;
        }
      }
      .sidenav-normal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 20rem;

        &__icon {
          width: 25%;
          font-size: 1.15rem;
        }
        &__text {
          width: 75%;
          display: inline;
        }
      }
    }

    &__item {
      width: 100%;
      background: $main-light-color;
      border-bottom: 2px solid $main-dark-color;
      position: relative;
      overflow: visible;
      height: 2.5em;

      &:hover .sidenav__dropdown {
        display: flex;
      }
    }

    &__dropdown {

    }

    &--active {

    }
  }

  .sidenav-normal {
    color: white;
    width: 100%;
    max-width: 7rem;
    padding: 0.5rem;

    &__icon {
      text-align: center;
      align-self: center;
      font-size: 1.25rem;
    }
    &__text {
      display: none;
      text-align: right;
    }
  }

  .sidenav-link {
    color: white;
    width: 100%;
    max-width: 7rem;
    padding: 0.5rem;
    border: none;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
      background: $main-hover-color;
      transition-duration: 0.3s;
      cursor: pointer;
      text-decoration: none;
      color: white;
    }
    &__icon {
      text-align: center;
      align-self: center;
      font-size: 1.25rem;
    }
    &__text {
      display: none;
      text-align: right;
    }
  }

  .sidenav-dropdown {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 10rem;
    width: auto;

    &__item {
      color: white;
      background: $main-light-color;
      width: 100%;
      padding: 0.5rem;
      cursor: pointer;
      transition-duration: 0.2s;
      border-bottom: 2px solid $main-dark-color;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      &:hover {
        background: $main-hover-color;
        transition-duration: 0.2s;
      }
    }
  }

  .sidenav-dropdown-item {


    &__icon {
      width: 25%;
    }
    &__text {
      width: 75%;
    }
  }
}

#mobile {
  display: none;
  .sidenav {
    display: none;
    font-family: $font-semi-bold;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: $main-dark-color;
    flex-direction: column;
    color: white;
    z-index: 999;

    &__toggle {
      position: absolute;
      top: 1em;
      left: 0;
      color: white;
      background: $main-light-color;
      border:none;
      border-radius: 0 5px 5px 0;
      padding: 0.5rem 1rem;

      &--close {
        position: unset;
        width: 3rem;
      }
    }

    &__item {
      width: 100%;
      padding: 1rem;
      background: $main-light-color;
      border-bottom: 2px solid $main-dark-color;
      position: relative;
    }

    &--active {
      display: flex;
    }

    &__dropdown {

    }
  }
  .sidenav-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    &__dropdown {
      width: 5%;
      align-self: center;
    }

    &__icon {
      width: 10%;
      font-size: 1.5rem;
    }
    &__text {
      width: 85%;
      font-size: 1.1rem;
      display: inline;
    }
  }

  .sidenav-normal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 20rem;

    &__icon {
      width: 10%;
      font-size: 1.5rem;
    }
    &__text {
      width: 90%;
      font-size: 1.1rem;
      display: inline;
    }
  }

  .sidenav-dropdown {
    display: none;
    margin-top: 0.5rem;

    &--active {
      display: block;
    }

    &__item {
      color: white;
      background: $main-light-color;
      padding: 0.25rem;
      width: 95%;
      margin-left: 2%;
      padding-left: 3%;
      border-left: solid 2px $main-hover-color;
    }
  }

  .sidenav-dropdown-item {


    &__icon {
      width: 10%;
      font-size: 1.2rem;
    }
    &__text {
      width: 75%;
      font-size: 0.9rem;
    }
  }
}

@include respond-to('small') {
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }
}