@import 'fonts';
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$dark-red: #b82e2c;
$red: #e3342f;
$orange: #f6993f;
$orange-hover: #d48436;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #636363;

$font-thin: 'Montserrat-Thin';
$font-regular: 'Montserrat-Regular';
$font-semi-bold: 'Montserrat-Semi-Bold';
$font-bold: 'Montserrat-Bold';

$link-background: #0097b9;
$link-background-hover: #0081a7;

$main-background-color: #DEF4C6;
$main-light-color: #49A078;
$main-dark-color: #1B512D;
$main-hover-color: #3b7656;

$break-point-mobile: 30em;
$break-point-tablet: 48em;
$break-point-table-vertical: 55em;

$breakpoints: (
        'x-small': (max-width: 20em), // 320px small devices
        'small':   (max-width: 30em), // 480px main phone devices
        'medium':  (max-width: 48em), // 768px main tablet portrait
        'medium-large':  (max-width: 55em), // 880px between state
        'large':   (max-width: 64em), // 1024px main tablet landscape
        'x-large': (max-width: 80em), // 1280px main laptop screen
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);
  @if $raw-query {
    $query: if(
                    type-of($raw-query) == 'string',
                    unquote($raw-query),
                    inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  }
  @else {
    @error 'No value found for `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
  }
}
