@import 'fonts';

$font-thin: 'Montserrat-Thin';
$font-regular: 'Montserrat-Regular';
$font-medium: 'Montserrat-Medium';
$font-semi-bold: 'Montserrat-Semi-Bold';
$font-bold: 'Montserrat-Bold';

$main-text-color: #38B974;
$main-background-color: #f5f5f5;

$input-background-color: rgba(216, 216, 216, .5);
$input-background-color-active: rgba(216, 216, 216, .35);
$input-border-color: #C9C9C9;
$input-border-active-color: #38B974;
$input-placeholder-color: rgba(0, 0, 0, .25);

$input-checkbox-background-color: #D8D8D8;
$input-checkbox-background-color-active: $input-border-active-color;

$button-background-color: $input-border-active-color;
$button-background-color-active: transparent;

$label-color: #38B974;
$text-color: #9B9B9B;

$box-shadow: 1px 2px 5px rgba(0, 0, 0, .25);

$break-point-mobile: 30em;
$break-point-tablet: 48em;
$break-point-table-vertical: 55em;

$red: #FE4336;