@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-regular;
}

* {
  box-sizing: padding-box;
  outline: none;
}

.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  &__container {
    width: 55%;
    min-width: 325px;
    background: $main-background-color;
  }
  &__image {
    width: 45%;
    background: url('/img/login.png') center no-repeat;
    background-size: cover;
  }
}

.content {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(calc(-50% - 5em));
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    max-width: 65%;
    margin-bottom: 3em;
  }
  &__form {

  }
}

.form {
  width: 45%;
  min-width: 300px;

  &__item {
    display: flex;
    flex-direction: column;

    &--row {
      padding-top: 1em;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.form-item {
  margin: .5em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &__label {
    font-size: 1.5em;
    font-family: $font-semi-bold;
    color: $main-text-color;
    padding-top: .5em;
    padding-bottom: .25em;

    &--checkbox {
      line-height: 30px;
      font-size: 1em;
      margin-left: .25em;
      padding-left: calc(.5em + 25px);
    }
  }

  &__input {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.15em;
    border: none;
    border-radius: 5px 5px 0 0;
    border-bottom: 4px solid $input-border-color;
    padding: .5em .5em .5em .75em;
    transition-duration: .2s;
    background-color: $input-background-color;
    background-position: left;
    background-position-x: .5em;
    background-repeat: no-repeat;
    background-size: 1.5em;

    & > input {
      border:none;
      width: 100%;
      background: none;
      color: $text-color !important;
      font-size: inherit;
      padding-left: .75em;
      font-family: $font-regular;

      &::placeholder {
        color: $input-placeholder-color !important;
      }
    }

    &--active {
      background-color: $input-background-color-active;
      .form-item__border:before {
        width: 100%;
      }
      .form-item__icon > svg {
        color: $input-border-active-color;
      }
    }
  }

  &__border {
    position: absolute;
    top: 100%;
    left: 0;
    height: 4px;
    width: 100%;

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 100%;
      background: $input-border-active-color;
      transition: width .2s linear;
    }
  }

  &__icon {
    display: flex;
    vertical-align: center;

    & > svg {
      height: 1.5em;
      color: $input-placeholder-color;
      transition-duration: .2s;
    }
  }

  &__button {
    font-size: 1.15em;
    background-color: $button-background-color;
    border: 2px solid $button-background-color;
    border-radius: 22px;
    padding: .4em 2em;
    color: white;
    transition-duration: .2s;
    font-family: $font-semi-bold;
    box-shadow: $box-shadow;

    &:hover {
      background-color: $button-background-color-active;
      color: $button-background-color;
      transition-duration: .2s;
    }
  }

  &__error {
    width: 90%;
    background: $red;
    color: white;
    padding: .75em 1em;
    border-radius: 10px;
    justify-self: center;
    margin: .5em auto;
    text-align: center;
  }
}

.form-item-checkbox {
  position: relative;
  cursor: pointer;

  & > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &:hover input ~ &__mask {
    background-color: $input-checkbox-background-color-active;
    transition-duration: .2s;

    &:after {
      border-color: white;
      transition-duration: .2s;
    }
  }

  & input:checked ~ &__mask:after {
    display: block;
  }

  & &__mask:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $text-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-duration: .2s;
  }

  &__mask {
    position: absolute;
    top: .5em;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $input-checkbox-background-color;
    transition-duration: .2s;
    border-radius: 5px;
    box-shadow: $box-shadow;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}

@media (max-width: $break-point-mobile) {
  .auth {
    &__container {
      width: 100%;
    }
    &__image {
      display: none;
    }
  }
  .content__logo {
    max-width: 90%;
  }
  .form__item--row {
    flex-direction: column;
  }
  .form-item__button {
    width: 100%;
    margin-top: 1em;
  }
}